<div class="navbar">

    <div class="navlinks">
            <nav>
                <a href="/" class="<%= activeLink === 'home' ? 'active' : '' %>">Home</a>
                <a href="/sun" class="<%= activeLink === 'sun' ? 'active' : '' %>">Sun</a>
                <a href="/mercury" class="<%= activeLink === 'mercury' ? 'active' : '' %>">Mercury</a>
                <a href="/venus" class="<%= activeLink === 'venus' ? 'active' : '' %>">Venus</a>
                <a href="/earth" class="<%= activeLink === 'earth' ? 'active' : '' %>">Earth</a>
                <a href="/mars" class="<%= activeLink === 'mars' ? 'active' : '' %>">Mars</a>
                <a href="/jupiter" class="<%= activeLink === 'jupiter' ? 'active' : '' %>">Jupiter</a>
                <a href="/saturn" class="<%= activeLink === 'saturn' ? 'active' : '' %>">Saturn</a>
                <a href="/uranus" class="<%= activeLink === 'uranus' ? 'active' : '' %>">Uranus</a>
                <a href="/neptune" class="<%= activeLink === 'neptune' ? 'active' : '' %>">Neptune</a>
                <a href="/pluto" class="<%= activeLink === 'pluto' ? 'active' : '' %>">Pluto</a>
                <a href="/nasapod" class="<%= activeLink === 'nasapod' ? 'active' : '' %>">NASA</a>
            </nav>
    </div>

</div>